{{!< cartanza-checkout}}

<div class="main">

    <h1 class="store_title">{{ @site.title }}</h1>

    <div class="section">
        <strong class="inline">Order status:</strong>
            {{#if order.cancelled}}
                Order cancelled
            {{else}}
                <strong class="inline">
                {{#if (eq order.financial_status "created") }}
                    Penging payment
                {{/if}}
                {{#if (eq order.financial_status "succeeded") }}
                    Payment received
                {{/if}}
                {{#if (eq order.financial_status "payment_failed") }}
                    Payment failed
                {{/if}}
                </strong>
            {{/if}}
        <h2>Contact information</h2>
        <div>{{ form.shipping_address.first_name }} {{ form.shipping_address.last_name }}</div>
    </div>


{{#if order.cancelled}}
    <div class="main_section">
        <div class="section">
            Shipping address
        </div>
        <div class="section">
            {{ form.shipping_address.address1 }}, {{ form.shipping_address.city }}, {{ form.shipping_address.province }} {{ form.shipping_address.zip }}, {{ form.shipping_address.country }}
        </div>
    </div>
{{else}}
    {{#if (eq order.financial_status "created") }}
    <div class="main_section">
    <form action="{{ form.action }}" method="post">
        <div class="errors">
            <ul>
                {{#foreach errors}}
                <li>{{message}}</li>
                {{/foreach}}
            </ul>
        </div>
        <div class="field" style="margin-right: 0.4em;">
            <div class="field_block_wrapper">
                <label class="field_label" style="font-size: 14px"><strong>Shipping address:</strong></label>
                <div style="margin-top: 10px;padding: 10px;">{{ form.shipping_address.first_name }} {{ form.shipping_address.last_name }}</div>
                <div style="padding: 10px;">{{ form.shipping_address.address1 }}, {{ form.shipping_address.city }}, {{ form.shipping_address.province }} {{ form.shipping_address.zip }}, {{ form.shipping_address.country }}</div>
            </div>
        </div>
        <div class="field">
            <script type="text/javascript">
                // Set your publishable key: remember to change this to your live secret key in production
                // See your keys here: https://dashboard.stripe.com/account/apikeys
                var stripe = Stripe('{{ @site.stripe_connect_publishable_key }}', {stripeAccount: '{{ @site.stripe_connect_account_id }}'});
                var elements = stripe.elements();
                
                function loadDoc() {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText);
                    }
                    };
                    xhttp.open("GET", "{{{ form.clear_link }}}", true);
                    xhttp.send();
                }

                function confirmCardPayment(button, clientSecret) {
                    button.disabled = true;
                    const spinner = document.getElementById('spinner');
                    spinner.style.display = 'block';
                    stripe.confirmCardPayment(clientSecret, {
                        payment_method: {card: card}
                    }).then(function(result) {
                        spinner.style.display = 'none';
                        if (result.error) {
                            // Show error to your customer (e.g., insufficient funds)
                            const confirmSpan = document.getElementById('confirm_message');
                            confirmSpan.textContent = 'Payment failed!';
                            console.log(result.error.message);
                            button.disabled = false;
                            alert('There was a problem processing your payment!');
                        } else {
                            // The payment has been processed!
                            if (result.paymentIntent.status === 'succeeded') {
                                // Show a success message to your customer
                                // There's a risk of the customer closing the window before callback execution
                                // Set up a webhook or plugin to listen for the payment_intent.succeeded event
                                // that handles any business critical post-payment actions
                                console.log('Payment succeeded!', result.paymentIntent);
                                const confirmSpan = document.getElementById('confirm_message');
                                confirmSpan.textContent = 'Payment succeeded!';
                                const linkToHome = document.getElementById('link_to_home');
                                linkToHome.innerHTML = '';
                                const continueButton = document.getElementById('continue_button');
                                continueButton.innerHTML = '<span>Continue shopping</span>';
                                continueButton.onclick = function() { window.location.href = '/'; return false;};
                                continueButton.disabled = false;
                                loadDoc();
                                alert('Payment succeeded!');
                        }
                        }
                    });
                }
            </script>
            <div class="section" id="card-element">
                <!-- Elements will create input elements here -->
            </div>
            
            <!-- We'll put the error messages in this element -->
            <div class="section" id="card-errors" role="alert"></div>
            
            <script type="text/javascript">
                // Set up Stripe.js and Elements to use in checkout form
                var style = {
                    base: {
                    color: "#32325d",
                    }
                };

                var card = elements.create('card', {
                    iconStyle: 'solid',
                    style: {
                        base: {
                            iconColor: '#666EE8',
                            color: '#31325F',
                            lineHeight: '40px',
                            fontWeight: 300,
                            fontFamily: 'Helvetica Neue',
                            fontSize: '15px',

                            '::placeholder': {
                            color: '#CFD7E0',
                            },
                        },
                    },
                });
                card.mount("#card-element");
                
                card.addEventListener('change', ({error}) => {
                    const displayError = document.getElementById('card-errors');
                    if (error) {
                    displayError.textContent = error.message;
                    } else {
                    displayError.textContent = '';
                    }
                });
            </script>
        </div>
        <div class="section">
            <div class="div_backward">
                <span id="confirm_message">Click the "Confirm payment" button to confirm</span><br/>
            </div>
            <div class="div_forward">
                <button name="button" id="continue_button" class="continue_button" onclick="confirmCardPayment(this, '{{ order.stripe_client_secret }}');return false;"><span>Confirm payment</span></button>
            </div>
        </div>
        <input type="hidden" name="step" value="confirm_method">
        <input type="hidden" name="previous_step" id="previous_step" value="payment_method">
    </form>
    </div>
    {{else}}
        <div class="main_section">
            <div class="section">
                Shipping address
            </div>
            <div class="section">
                {{ form.shipping_address.address1 }}, {{ form.shipping_address.city }}, {{ form.shipping_address.province }} {{ form.shipping_address.zip }}, {{ form.shipping_address.country }}
            </div>
        </div>
    {{/if}}
{{/if}}

    <footer class="main_footer" role="contentinfo">
        <p class="copyright_text">All rights reserved | {{ @site.title }}</p>
    </footer>
</div>
<div id="spinner" class="spinner">
    <i class="fa fa-spinner fa-spin" style="color:#666666;font-size:6em;"></i>
</div>
<aside class="sidebar" role="complementary">
<div class="">
    {{#if (gt order.items.length 0)}}
    <table style="width: 90%;">
        {{#foreach order.items as |item index|}}
        <tr>
            <td class="">
                <div class="product_thumbnail">
                    <img src="/content/images/products/{{item.variant.image_src}}" alt="{{item.product.title}}" title="{{item.product.title}}" style="width: 100px;heigh=100px;" style="width: 100%;">
                </div>
            </td>
            <td class="product_description"><span>{{ item.product.title }}</span>
                <span>
                    {{#if item.variant.optiononevalue}}
                        - Variant: {{item.variant.optiononevalue.value}}
                    {{/if}}
                    {{#if item.variant.optiontwovalue}}
                        +&nbsp;{{item.variant.optiontwovalue.value}}
                    {{/if}}
                    {{#if item.variant.optionthreevalue}}
                        +&nbsp;{{item.variant.optionthreevalue.value}}
                    {{/if}}
                </span>
            </td>
            <td class="product_description"><span></span></td>
            <td class="product_description" align="right"><span>{{ item.quantity }} x {{ formatPrice item.final_price 'USD'}}</span></td>
        </tr>
        {{#if (gt ../order.discount_applications.length 0)}}
            {{#foreach ../order.discount_applications as |discount_application index|}}
            {{#if (eq discount_application.variants_id item.variants_id)}}
            <tr>
                <td class="product_description"></td>
                <td class="product_description"><span>Discount:</span></td>
                <td class="product_description">{{ discount_application.title }}:&nbsp;-{{ formatPrice discount_application.total_allocated_amount 'USD' }}</td>
                <td class="product_description"></td>
            </tr>
            {{/if}}
            {{/foreach}}
        {{/if}}
        {{/foreach}}
        <tr>
            <td class="product_description">&nbsp;</td>
            <td class="product_description">&nbsp;</td>
            <td class="product_description">&nbsp;</td>
            <td class="product_description">&nbsp;</td>
        </tr>
        <tr>
            <td class="product_description"><span>Sub total</span></td>
            <td class="product_description"></td>
            <td class="product_description"></td>
            <td class="product_description" align="right"><span>{{ formatPrice order.subtotal_price 'USD'}}</span></td>
        </tr>
        {{#foreach order.discount_applications}}
            <tr>
            <td class="product_description"><span>Discount: {{ title }}</span></td>
            <td class="product_description"></td>
            <td class="product_description" align="right"><span>Savings: -{{ formatPrice total_allocated_amount 'USD'}}</span></td>
            <td class="product_description" align="right">
            {{#if (eq target_selection "all")}}
                <span>-{{ formatPrice total_allocated_amount 'USD'}}
            {{/if}}
            </td>
            </tr>
        {{/foreach}}
        <tr>
            <td class="product_description"><span>Total discounts</span></td>
            <td class="product_description"></td>
            <td class="product_description" align="right"><span>Your total savings: -{{ formatPrice order.total_discount 'USD'}}</span></td>
            <td class="product_description"></td>
        </tr>
        </tr>
        <tr>
            <td class="product_description"><span>Shipping</span></td>
            <td class="product_description"></td>
            <td class="product_description"></td>
            <td class="product_description" align="right"><span>{{ formatPrice order.shipping_price 'USD'}}</span></td>
        </tr>
        {{#foreach order.tax_lines}}
        <tr>
            <td class="product_description"><span>{{ title }}</span></td>
            <td class="product_description"></td>
            <td class="product_description"></td>
            <td class="product_description" align="right"><span>{{ formatPrice price 'USD'}}</span></td>
        </tr>
        {{/foreach}}
        <tr>
            <td class="total_description"><span>Total</span></td>
            <td class="product_description"></td>
            <td class="total_description"></td>
            <td class="total_description" align="right"><span style="font-size: 1.7em;">{{ formatPrice order.total_price 'USD'}}</span></td>
        </tr>
    </table>    
    {{/if}}
</div>
</aside>