{{!< default}}

<script>
	function bind(t, e) {
	    return function() {
	        return t.apply(e, arguments)
	    }
	};
	function initCountry() {
	    var t = this.countryEl.getAttribute("data-default");
	    setSelectorByValue(this.countryEl, t),
	    this.countryHandler()
	};
	function initState() {
	    var t = this.stateEl.getAttribute("data-default");
	    t && 0 < this.stateEl.options.length && setSelectorByValue(this.stateEl, t)
	};
	function countryHandler() {
	    var t = (i = this.countryEl.options[this.countryEl.selectedIndex]).getAttribute("data-states")
	      , e = JSON.parse(t);
		e.sort((a, b) => a[0].localeCompare(b[0]));
	    if (this.clearOptions(this.stateEl),
	    e && 0 == e.length)
	        this.stateContainer.style.display = "none";
	    else {
	        for (var n = 0; n < e.length; n++) {
	            var i;
	            (i = document.createElement("option")).value = e[n][0],
	            i.innerHTML = e[n][1],
	            this.stateEl.appendChild(i)
	        }
	        this.stateContainer.style.display = ""
	    }
	};
	function clearOptions(t) {
	    for (; t.firstChild; )
	        t.removeChild(t.firstChild)
	};
	function setOptions(t, e) {
	    var n = 0;
	    for (e.length; n < e.length; n++) {
	        var i = document.createElement("option");
	        i.value = e[n],
	        i.innerHTML = e[n],
	        t.appendChild(i)
	    }
	};
	function addListener(t, e, n) {
	    t.addEventListener ? t.addEventListener(e, n, !1) : t.attachEvent("on" + e, n)
	};
	function setSelectorByValue(t, e) {
	    for (var n = 0, i = t.options.length; n < i; n++) {
	        var o = t.options[n];
	        if (e == o.value || e == o.innerHTML)
	            return t.selectedIndex = n
	    }
	};
</script>

<style>
</style>
<div class="container" style="margin-left:1em;width: var(--container-width);margin:auto;">
      <h2 style="width:50%;margin:auto;">Account Address</h2>
      <form method="post" action="/account/address/{{address.id}}" id="create_customer">
      <div id="create-account-form" class="gh-portal-logged-out-form-container" style="margin: 0 auto;">
        
          {{#if errors}}
          <div class="errors" style="margin-bottom: 2em;">
            <ul>
                {{#foreach errors}}
                <li>{{message}}</li>
                {{/foreach}}
            </ul>
          </div>
          {{/if}}


            <h3>Address Details</h3>
              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-first_name" class="gh-portal-input-label"> Default address </label>
                </div>
                <input class="field_input_checkbox" type="checkbox" {{#if address.default}}checked{{/if}} style="margin: 10px 10px;" name="address[default]">This is your default address</input>
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-first_name" class="gh-portal-input-label"> First name </label>
                </div>
                <input data-test-input="first_name" id="first_name" class="gh-portal-input" type="text" name="address[first_name]"
                  placeholder="Jamie" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="First name"
                  value="{{ address.first_name }}">
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-last_name" class="gh-portal-input-label"> Last name </label>
                </div>
                <input data-test-input="last_name" id="last_name" class="gh-portal-input" type="text" name="address[last_name]"
                  placeholder="Larson" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Last name"
                  value="{{ address.last_name }}">
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-phone" class="gh-portal-input-label"> Phone </label>
                </div>
                <input data-test-input="phone" id="phone" class="gh-portal-input" type="text" name="address[phone]"
                  placeholder="XXX-XXX-XXXX (Optional)" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Phone"
                  value="{{ address.phone }}">
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-company" class="gh-portal-input-label"> Company </label>
                </div>
                <input data-test-input="company" id="company" class="gh-portal-input" type="text" name="address[company]"
                  placeholder="(Optional)" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Last name"
                  value="{{ address.company }}">
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-address1" class="gh-portal-input-label"> Address line 1 </label>
                </div>
                <input data-test-input="address1" id="address1" class="gh-portal-input" type="text" name="address[address1]"
                  placeholder="123 Main St." autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Address line 1"
                  value="{{ address.address1 }}">
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-address2" class="gh-portal-input-label"> Address line 2 </label>
                </div>
                <input data-test-input="address2" id="address2" class="gh-portal-input" type="text" name="address[address2]"
                  placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Address line 2"
                  value="{{ address.address2 }}">
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-city" class="gh-portal-input-label"> City </label>
                </div>
                <input data-test-input="city" id="city" class="gh-portal-input" type="text" name="address[city]"
                  placeholder="New York" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="City"
                  value="{{ address.city }}">
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-country" class="gh-portal-input-label"> Country </label>
                </div>
                <select class="gh-portal-input" value="{{ address.country }}" id="address_country" name="address[country]" data-default="{{ address.country }}">
                  <option value="---" data-states="[]">---</option>
                  <option value="{{US.name}}" data-states="[{{#foreach US.regions}}[&quot;{{name}}&quot;,&quot;{{name}}&quot;]{{#unless @last}},{{/unless}}{{/foreach}}]">{{US.name}}</option>
                  <option value="{{CA.name}}" data-states="[{{#foreach CA.regions}}[&quot;{{name}}&quot;,&quot;{{name}}&quot;]{{#unless @last}},{{/unless}}{{/foreach}}]">{{CA.name}}</option>
                </select>
              </section>

              <section id="address_state_container" class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-state" class="gh-portal-input-label"> City </label>
                </div>
                <select class="gh-portal-input" value="{{ address.state }}" id="address_state" name="address[state]" data-default="{{ address.state }}">
                </select>
              </section>

              <section class="gh-portal-input-section">
                <div class="gh-portal-input-labelcontainer"><label for="input-zip" class="gh-portal-input-label"> Zip/Postal Code </label>
                </div>
                <input data-test-input="zip" id="zip" class="gh-portal-input" type="text" name="address[zip]"
                  placeholder="90210" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Zip/Postal Code"
                  value="{{ address.zip }}">
              </section>
            
              <div class="submit">					
                <button name="submitsave" id="button-account" type="submit" class="gh-portal-btn gh-portal-btn-branded" style="">
                  <span>
                    <i class="fa fa-user left"></i>
                    Save
                  </span>
                </button>
                &nbsp;
                or <a class="btn-acct" href="/account">Return to your account</a>

        </div>
      </div>
      </form>
</div>

<script>
	var countryEl = document.getElementById('address_country');
	var stateEl = document.getElementById('address_state');
	var stateContainer = document.getElementById('address_state_container' || e);
	addListener(this.countryEl, "change", bind(countryHandler, this));
	initCountry();
	initState();
</script>