<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{^is "blog"}}
        <title>{{meta_title}}</title>
    {{else}}
        <title>{{block "title"}}</title>
        {{{block "description"}}}
    {{/is}}
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "built/main.min.js"}}"></script>
    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}} is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
<div class="site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </div>
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                <button class="gh-burger"></button>
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
                {{#unless @site.members_enabled}}
                    {{#match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{/unless}}
            </nav>

            <div class="gh-head-actions">
                {{#unless @site.members_enabled}}
                    {{^match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{else}}
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    <div class="gh-head-members">
                        {{#unless @member}}
                            {{#unless @site.members_invite_only}}
                                <a class="gh-head-link" href="#/portal/signin" data-portal="signin">Sign in</a>
                                <a class="gh-head-button" href="#/portal/signup" data-portal="signup">Subscribe</a>
                            {{else}}
                                <a class="gh-head-button" href="#/portal/signin" data-portal="signin">Sign in</a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-head-button" href="/account">Account</a>
                        {{/unless}}
                        <div class="cartanza-cart-container">
                            <i class="fs-12 fa fa-shopping-bag" aria-hidden="true" style="color:#666666;font-size: 2em;margin-top: 15px;"></i>
                            <span class="header-icons-noti cartanza-cart-total" style="display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;justify-content: center;align-items: center;width: 20px;height: 20px;border-radius: 50%;background-color: #111111;color: white;font-size: 12px;position: relative;top: -30px;right: -20px;" >3</span>
                            <div class="cartanza-header-cart">
                                <ul class="header-cart-wrapitem" style="max-height: 270px;overflow: auto;">
                                    <li class="header-cart-item" style="text-align: center;">
                                        <span class="header-cart-item-info" style="color: black;">Empty Cart</span>
                                    </li>
                                </ul>
                                <div class="header-cart-total" style="font-size: 15px;color: #555555;line-height: 1.3;text-align: right;padding-top: 15px;padding-bottom: 25px;padding-right: 3px;">
                                    Subtotal : $0.00
                                </div>
                                <div class="header-cart-buttons" style="    display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;">
                                    <div class="header-cart-wrapbtn" style="width: calc((100% - 10px) / 2);padding: 0px;box-sizing: border-box;">
                                    <!-- Button -->
                                    <a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" style="border-radius:20px;background-color:#222222;align-items: center;color: white;text-transform:uppercase;padding:12px 20px;">
                                        View Cart
                                    </a>
                                    </div>
                                    <div class="header-cart-wrapbtn" style="width: calc((100% - 10px) / 2);padding: 0px;box-sizing: border-box;">
                                    <!-- Button -->
                                    <a href="/checkout" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" style="border-radius:20px;background-color:#222222;align-items: center;color: white;text-transform:uppercase;padding:12px 20px;">
                                        Checkout
                                    </a>
                                    </div>
                                </div>
                                </div>
                        </div>
                        </div>
                {{/unless}}
            </div>
        </div>
    </header>

    {{#is "home"}}
    {{#if @site.cover_image}}
        <div class="site-cover u-overlay">
            <img class="cover-image u-object-fit" src="{{img_url @site.cover_image}}" alt="{{@site.title}}">
            <div class="cover-content">
                {{#if @site.logo}}
                    <img class="cover-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{/if}}
                {{#if @site.description}}
                    <div class="cover-description">{{@site.description}}</div>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{/is}}

    <div class="site-content">
        {{{body}}}
    </div>

    <footer class="gh-foot gh-outer">
        <div class="gh-foot-inner gh-inner">
            <div class="subscribe{{#if is_popup}} popup{{/if}}">
                {{#if @custom.apple_podcasts_link}}
                    <a href="{{@custom.apple_podcasts_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                        {{> "icons/apple"}}
                        <span class="subscribe-text">Apple</span>
                    </a>
                {{/if}}
                {{#if @custom.google_podcasts_link}}
                    <a href="{{@custom.google_podcasts_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                        {{> "icons/google"}}
                        <span class="subscribe-text">Google</span>
                    </a>
                {{/if}}
                {{#if @custom.spotify_link}}
                    <a href="{{@custom.spotify_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                        {{> "icons/spotify"}}
                        <span class="subscribe-text">Spotify</span>
                    </a>
                {{/if}}
                <a href="{{#if @custom.rss_link}}{{@custom.rss_link}}{{else}}{{@site.url}}/rss{{/if}}" class="subscribe-link rss" target="_blank" rel="noopener noreferrer">
                    {{> "icons/rss"}}
                    <span class="subscribe-text">RSS</span>
                </a>
            </div>
            <nav class="gh-foot-menu">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-copyright">
                {{@site.title}} © {{date format="YYYY"}}. <a href="https://cartanza.com/" target="_blank" rel="noopener">Powered by Cartanza</a>
            </div>
        </div>
    </footer>

    {{^is "post, page"}}
        {{> "player"}}
    {{/is}}

</div>

{{{block "scripts"}}}

<script>
    // Select the cart icon and header cart elements
    const cartIcon = document.querySelector('i.fs-12.fa.fa-shopping-bag');
    const headerCart = document.querySelector('div.cartanza-header-cart');

    document.addEventListener('click', (event) => {
        if (cartIcon.contains(event.target)) {
            headerCart.classList.toggle('show-header-dropdown');
        } else if (!headerCart.contains(event.target)) {
            headerCart.classList.remove('show-header-dropdown');
        }
    });
    window.onload = function() {
        getCart();
    }
</script>
<script>
    async function logout(event) {
    event.preventDefault();
    try {
        const response = await fetch('/members/api/session', {
            method: 'DELETE', // HTTP method
            headers: {
                'Content-Type': 'application/json' // Specify JSON payload
            },
            body: JSON.stringify({ all: false }) // Convert the data to JSON string
        });

        if (response.ok) {
            console.log('Session logged out successfully');
            window.location.href = '/';
        } else {
            console.error('Failed to logout of session:', response.status, response.statusText);
        }
    } catch (error) {
        console.error('Error:', error);
    }
}
</script>
{{ghost_foot}}

</body>
</html>